.selector {
  // background-color: #afadad;
  display: flex;
  height: 40px;

  &-form {
    display: flex;
    align-items: center;

    &-item {
      margin-bottom: 0px;
      margin-right: 30px;

      // &-input {
      //   // background-color: #ed4141;
      // }

      // &-select {}
    }
  }
}

.form {
  margin-top: 25px;

  // background-color: #252222;
  &-table {
    background-color: #5cf277;
    height: 100px;
    // &-details {
    //   display: flex;
    //   margin-left: 50px;
    //   padding: 50px;
    //   // background-color: #f44343;
    //   &-p{
    //     margin: 50px;
    //   }
    // }
  }
}

.page {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.des {
  display: flex;
  // background-color: #e96767;
  margin-left: 30px;
  align-items: center;

  &-left {
    background-color: #ffffff;
    color: #bbb6bd;
    margin-right: 30px;
    text-wrap: nowrap;
    letter-spacing: 0.8px;
  }

  &-right {
    // background-color: #b03333;
    width: 500px;
    // line-height: 1.6;
    letter-spacing: 0.8px;

    &-p {
      margin-top: 10px;
    }
  }
}

.answ {
  display: flex;
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  &-box {
    display: flex;

    // flex:1;
    &-left {
      color: #bbb6bd;
      height: 20px;
      text-wrap: nowrap;
      letter-spacing: 0.8px;

    }

    &-right {
      &-p {
        margin-left: 30px;
        letter-spacing: 0.8px;
        // text-wrap: nowrap;
        line-height: 20px;
        height: 20px;
      }
    }
  }

  .score {
    height: 20px;
    line-height: 20px;
    // background-color: #af4c4c;
    margin-bottom: 10px;
    // flex:content;
  }
}