.selector {
  // background-color: #afadad;
  display: flex;
  height: 40px;
  &-form {
    display: flex;
    align-items: center;
    &-item {
      margin-bottom: 0px;
      margin-right: 30px;
      &-input {
        // background-color: #ed4141;
      }
      &-select {
      }
    }
  }
}

.form {
  margin-top: 25px;
  // background-color: #252222;
  &-table {
    background-color: #5cf277;
    height: 100px;
    // &-details {
    //   display: flex;
    //   margin-left: 50px;
    //   padding: 50px;
    //   // background-color: #f44343;
    //   &-p{
    //     margin: 50px;
    //   }
    // }
  }
}

.page {
  position: absolute;
  bottom: 25px;
  left: 45%;
  // transform: translateX(-50%);
}

.des {
  display: flex;
  // background-color: #e96767;
  margin-left: 30px;
  align-items: center;
  &-left {
    background-color: #ffffff;
    color: #bbb6bd;
    margin-right: 30px;
  }
  &-right {
    // background-color: #b03333;
    width: 300px;
    &-p {
      margin-top: 10px;

    }
  }
}

.answ {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 20px;
  &-left {
    color: #bbb6bd;
    height: 20px;
  }
  &-right {
    &-p {
      margin-left: 30px;
      line-height: 20px;
      height: 20px;
    }
  }
}
