.setting {
    width: 180px;
    padding: 10px;
    box-sizing: border-box;
    height: 165px;
    background-color: #fff;
    border-radius: 4px;
    cursor: auto;
    margin-left: -2px;
    // box-shadow: 0 0 24px rgba(81, 87, 103, .16);

    &-user {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;

        &-portrait {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }

        &-info {
            font-size: 14px;
            margin-left: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &-line {
        margin-top: 15px;
        border-top: 1px solid #f1f2f5;
    }

    .special {
        margin-top: 10px;
    }

    &-common {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        font-size: 14px;
        border-radius: 2px;
        user-select: none;

        &:hover {
            background-color: #f7f8fa;
        }

        .icon-yonghu,
        .icon-xiugai,
        .icon-h {
            width: 20px;
            font-size: 20px;
        }

        &-name {
            margin-left: 10px;
        }
    }

    &-warn {
        &:hover {
            background-color: #fae1e1 !important;
        }
    }


    .el-dialog__headerbtn:hover .el-dialog__close {
        color: #283ee3;
    }

    .el-input__wrapper.is-focus {
        box-shadow: 0px 0px 1px 1px #283ee3;
    }

    .card .btns .confirm {
        background-color: #283ee3;
    }

    .card .btns .confirm:hover {
        background-color: #283ee3c9;
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item:hover {
        color: #283ee3;
    }

    .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
        color: #283ee3;
    }
}