.paper {
    width: 100%;
    height: 100px;

    &-form {
        .el-input__wrapper.is-focus {
            box-shadow: 0px 0px 1px 1px #283ee3;
        }
    }

    .el-button {
        border: #283ee3;
        background-color: #283ee3 !important;
    }

    .el-button:hover {
        background-color: #283ee3b5 !important;
    }
}