.quesSequence {
    user-select: none;
    display: block;
    box-sizing: border-box;
    margin: 25px 20px;

    &-title {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    &-lists {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center
    }

    &-lists_item {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
        font-size: 14px;
        text-align: center;
        cursor: pointer;

        color: #725AC1;
        background: transparent;
        transition: ease-out 0.5s;
        border: 2px solid #725AC1;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #725AC1;

        &:hover {
            color: white;
            box-shadow: inset 0 -100px 0 0 #725AC1;
        }

        &.active {
            color: white;
            box-shadow: inset 0 -100px 0 0 #725AC1;
        }
    }
}