.common {
  background-color: #f4f6f5;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  color: #4b4b4b;

  &-con {
    background-color: #f4f6f5;

    &-header {
      min-width: 850px;
      // margin-top: 10px;
      // border-radius: 10px 0 0 10px;
      margin: 10px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px #c9c9c9;
      height: 65px;
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 700;

      .image {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 10px;
        overflow: hidden;
      }
    }

    &-aside {
      user-select: none;
      width: 240px;
      margin: 10px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px #ddd;
      transition: all .2s linear;

      // 导航栏整体的背景颜色
      .el-menu {
        background-color: #fff;

        // 分支背景颜色
        .el-sub-menu {
          background-color: #fff;

          // 标题背景颜色
          .el-sub-menu__title {
            color: #000 !important;
            background-color: #fff !important;
          }
        }

        // 二级导航栏
        .el-menu-item {
          color: #000;
          transition: all 0.5s;
        }

        .el-menu-item:hover {
          background-color: #4b4b4b;
          color: #fff;
        }

        .el-menu-item.is-active {
          color: #000;
        }

        .el-menu-item:hover.is-active {
          color: #fff;
        }
      }
    }

    &-aside:hover {
      box-shadow: 0 0 10px #bebebe;
    }

    &-main {
      min-width: 850px;
      background-color: #fff;
      box-shadow: 0 0 10px #ddd;
      // margin-top: 10px;
      // margin-bottom: 10px;
      // border-radius: 10px 0 0 10px;
      margin: 10px;
      margin-top: 2px;
      border-radius: 10px;
    }

    &-main:hover {
      box-shadow: 0 0 10px #bebebe;
    }
  }
}