.common {
    background-color: #e18585;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;

    &-con {
        // background-color: #b3d929;

        &-header {
            background-color: #928fff;
            height: 65px;
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 700;

            .image {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                border-radius: 10px;
                overflow: hidden;
            }
        }

        &-aside {
            background-color: #928fff;

            // 导航栏整体的背景颜色
            .el-menu {
                background-color: #fff;

                // 分支背景颜色
                .el-sub-menu {
                    background-color: #928fff;

                    // 标题背景颜色
                    .el-sub-menu__title {
                        background-color: #928fff !important;
                    }
                }

                // 二级导航栏
                .el-menu-item {
                    color: #928fff;
                }

                .el-menu-item:hover {
                    background-color: red;
                }

                .el-menu-item.is-active {
                    color: #928fff;
                }
            }
        }

        &-main {
            background-color: #ffffff;
        }
    }
}